<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="29" />
        
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name="com.itsme.amkush.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FACEGATE"
        android:allowNativeHeapPointerTagging="false"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="34">
        
        <activity
            android:name="com.itsme.amkush.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FACEGATE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="FACEGATE: Advanced Camera Hook &amp; Spoofer" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
            
        <provider
            android:name="com.itsme.amkush.utils.VideoProvider"
            android:authorities="com.itsme.amkush.videoprovider"
            android:exported="true"
            android:grantUriPermissions="true" />

        <provider
            android:name="com.itsme.amkush.utils.MultiprocessSharedPreferences"
            android:authorities="com.itsme.amkush.preferences"
            android:exported="true" />

    </application>

</manifest>
